.close {
  width: 20px;
  height: 20px;
  display: block;
  background: url("../img/x.png") no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
h1,
p {
  padding: 0;
  margin: 0;
}
.button {
  padding: 3px 5px;
  background: #efefef;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: -moz-linear-gradient(top, #fff, #efefef);
  background: -o-linear-gradient(top, #fff, #efefef);
  background: -ms-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -ms-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  color: #000;
  text-decoration: none;
  font: 1em 'Droid Sans', sans-serif;
  margin: 0 5px;
  border: 0;
}
.button:hover {
  color: #555;
}
input[type=submit].button-large,
.button-large,
button.button-large {
  min-height: 50px;
  min-width: 200px;
  text-align: center;
  display: inline-block;
}
input[type=submit].button-medium,
.button-medium,
button.button-medium {
  font-size: 1.5em;
}
input[type=submit].button-small,
a.button-small,
button.button-small {
  font-size: 0.75em;
  line-height: 1em;
  padding: 3px;
}
.button-no-margin {
  margin: 0;
}
.button-link {
  color: #08c;
  background: transparent;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.button-link:hover {
  text-decoration: underline;
  color: #08c;
}
.button-continue {
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -moz-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  background: #3e9141;
  background: -webkit-linear-gradient(top, #59ad5c, #3e9141);
  background: -moz-linear-gradient(top, #59ad5c, #3e9141);
  background: -o-linear-gradient(top, #59ad5c, #3e9141);
  background: -ms-linear-gradient(top, #59ad5c, #3e9141);
  background: linear-gradient(top, #59ad5c, #3e9141);
}
.button-continue:hover {
  text-decoration: none;
  color: #fff;
  background: #3e9141;
  background: -webkit-linear-gradient(top, #67c06b, #3e9141);
  background: -moz-linear-gradient(top, #67c06b, #3e9141);
  background: -o-linear-gradient(top, #67c06b, #3e9141);
  background: -ms-linear-gradient(top, #67c06b, #3e9141);
  background: linear-gradient(top, #67c06b, #3e9141);
}
.button-continue-flat {
  background: #469a49;
  font-size: 0.8em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.button-continue-flat:hover {
  background: #39833b;
}
input[disabled=disabled],
button[disabled] {
  color: #c0c0c0 !important;
  background: #efefef;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: -moz-linear-gradient(top, #fff, #efefef);
  background: -o-linear-gradient(top, #fff, #efefef);
  background: -ms-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
}
.button-primary {
  background: #a9dbff;
  background: -webkit-linear-gradient(top, #dbf0ff, #a9dbff);
  background: -moz-linear-gradient(top, #dbf0ff, #a9dbff);
  background: -o-linear-gradient(top, #dbf0ff, #a9dbff);
  background: -ms-linear-gradient(top, #dbf0ff, #a9dbff);
  background: linear-gradient(top, #dbf0ff, #a9dbff);
}
.button-group .button {
  margin: 0;
  border: 1px #ccc solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #000;
}
.button-group .button:hover {
  color: #555;
}
.button-group .button:first-child {
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.button-group .button:last-child {
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -o-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.button-group .active {
  color: #00f;
}
fixed-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
