@import "shared.css";

.toaster
{
    background: #555;
    background: rgba(0,0,0,0.9);
    position: absolute;
    bottom: 0px;
    right: 5px;
    margin: 5px;
    padding: 15px;
    padding-right: 20px;
    border-radius: 2px;
    min-width: 100px;
    height: 50px;
    opacity: 0;
    text-align: left;
    z-index: 99999;
}

.toaster > p 
{
    color: #fff;
    font-size: 0.8em;
}