@import "shared"

.toaster {
	background #555
	background rgba(0,0,0,0.9)
	opacity 0
	border-radius $baseBorderRadius
	padding 15px
	padding-right 20px
	margin 5px

	min-width 100px
	height 50px


	position absolute
	bottom 0
	right 5px
	z-index 999999

	text-align left

	& > p {
		color #fff
		font-size 0.8em
	}

}


